* {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*INTESTAZIONE*/

header {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

header nav {
    height: 100%;
}

header figure {
    display: flex;
    align-items: center;
}

header img {
    height: 60px;
}

.menu-li {
    display: flex;
    list-style-type: none;
    gap: 15px;
    height: 100%;
}

.menu-li li {
    border-bottom: 3px solid transparent;
    height: 100%;
    align-content: center;
}

.menu-li li:hover {
    border-bottom: 3px solid #0582F9;
    color: #0582F9;
}

a {
    text-decoration: none;
    color: black;
    font-size: 10px;
}


/*CORPO*/

main {
    padding: 0 50px;
    background-color: #000;
    height: 130px;
    color: #FFF;
    display: flex;
    align-items: center;
}




/*PIEDE*/
footer .dad-info-footer {
    height: 155px;
    background-color: #0582F9;
}

footer .info-footer {
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

footer .info-footer ul {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    color: #FFF;
    gap: 30px;
}

footer .info-footer ul li {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 5px;
}

footer .info-footer ul li img {
    width: 55px;
}

footer .info-footer ul li p {
    font-size: 10px;
}

footer .info-footer ul li p:hover {
    text-decoration: underline;
    cursor: pointer;
}


footer .dad-main-footer {
    height: 370px;
    background-image: url(./assets/img/footer-bg.jpg);
    color: #FFF;
    z-index: 1;
}

footer .main-footer {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

footer .main-footer nav {
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}

footer .main-footer nav div ul {
    list-style-type: none;
}

footer .main-footer nav div ul li a {
    color: #FFF;
    opacity: 0.5;
}

footer .main-footer nav div ul li a:hover {
    text-decoration: underline;
}


footer .main-footer .bg-image {
    background-image: url(./assets/img/dc-logo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 450px;
    z-index: 2;
}

footer .dad-down-footer {
    background-color: #303030;
    height: 110px;
    padding: 0 40px;
}

footer .down-footer {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .down-footer button {
    color: #FFF;
    background-color: #303030;
    border: 2px solid #0582F9;
    height: 50px;
    padding: 10px;
    cursor: pointer;
}

footer .down-footer button:hover {
    background-color: #0582F9;
}

footer .down-footer div {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
}

footer .down-footer div .social {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

footer .down-footer div .social li {
    vertical-align: middle;
}

footer .down-footer div .primo-el {
    vertical-align: middle;
    color: #0582F9;
    font-weight: bold;
}